h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

button {
  background-color: #f17a45;
  border: none;
}
